.register {
  width: 100%;
  height: 100vh;
  background-color: darkslategrey;
  position: relative;
}

.register section {
  width: 40%;
  height: 22rem;
  background-color: whitesmoke;
  position: absolute;
  margin: 22vh 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.register section span a {
  text-decoration: none;
  color: darkgreen;
}

.register section span a:hover {
  text-decoration: underline darkgreen;
}

.register section form {
  width: 95%;
  height: 85%;
  background-color: rgb(92, 92, 92);
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.register section form div {
  width: 90%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 0.5rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.register section form div input {
  width: 100%;
  height: 2rem;
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.5rem;
  justify-self: center;
  align-self: center;
}
.register section button {
  width: 5rem;
  height: 2rem;
  text-align: center;
  background-color: green;
  color: whitesmoke;
  border-style: none;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  transition: translateY 3s;
  align-self: center;
}

.register section button:hover {
  background-color: rgba(5, 160, 5, 0.859);
  transform: translateY(-1px);
}
