.btn {
  width: 4rem;
  height: 2.5rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.primary {
  background-color: rgb(2, 137, 2);
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.primary:hover {
  background-color: darkgreen;
  color: whitesmoke;
}

.backward {
  color: white;
  background-color: transparent;
  width: 5rem;
  border: 0.5px solid white;
}
