.countryList {
  margin-top: 1rem;
  width: 100%;
  height: full;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: none;
  scroll-behavior: smooth;
  overflow-x: none;
  gap: 0.6rem;
}

.countryList::-webkit-scrollbar {
  display: none;
}
