.userBox {
  position: absolute;
  z-index: 1000;
  width: 11rem;
  height: 2.5rem;
  background-color: lightgray;
  top: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 2px 3px black;
  align-self: center;
}
.userBox_open {
  left: 65vw;
}

.userBox_close {
  left: 40vw;
}

.userBox > h6 {
  font-size: 0.8rem;
}

.button {
  width: 10%;
  cursor: pointer;
}

.button > svg {
  width: 90%;
  padding: 0.1rem;
}

.button:hover {
  background-color: black;
  color: whitesmoke;
}
